body, html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
	position: relative;
    margin: 0px;
    padding: 0px;
    background-image: url('../../assets/img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
	/*overflow-y: hidden;*/
}

.option1 {
	min-width: 200px;
	max-width: 350px;
	height: 30px;
	background-color: rgba(255,255,255,0.2);
    border: solid 1px;
    border-radius: 5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.option1:hover {
	background-color: rgba(255,255,255,0.5);
}

.option1 > input {
	position: relative;
	margin-top: 8px;
}

.option1 > label {
	margin-top: 1px;
	float: right;
	width: 100%;
}

.option2 {
	margin: 15px;
}

.option2 > input {
	width: 100%;
	background-color: rgba(255,255,255,0);
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	color: white;
}

.option2 > input:focus {
	outline: none;
}

.browserOptions {
	display: none;
	width: 100%;
	float: left;
}

.browserOptions > .option1 {
	width: 100%;
	max-width: none;
	text-align: left;
	opacity: 1;
	animation: fade-in 0.5s linear;
	margin-bottom: 5px;
	margin-top: 5px;
}

.browserOptions > .option1 > span {
	margin-left: 15px;
}


@keyframes fade-in {
  0% { opacity: 0 }
  50% { opacity: .5}
  100% { opacity: 1 }
}

@keyframes fade-out {
	0% { opacity: 1 }
	50% { opacity: .5}
	100% { opacity: 0 }
  }