/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/out/2018, 13:12:49
    Author     : jorge
*/
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.jpg);
    background-color: black;
    min-width: 500px;
    color: white;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 1024px) {
    .table {
        height: 100% !important;
    }
}
@media only screen and (max-width: 361px) {
    .table {
        height: 100% !important;
    }

    .resultHolder > h2 {
        font-size: 2rem;
    }
    .resultHolder > p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1024px) {
    .table {
        height: 50vh !important;
    }
}

.table {
    height: 70vh;
    min-height: 570px;
    background-color: brown;
    padding: 15px 15px;
    border-radius: 25px;
    box-shadow:  50px 20px 50px black;
}

.pane {
    width: 100%;
    max-width: 1370px;
    height: 100%;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    -moz-box-shadow: inset 0 0 10px black;
    -webkit-box-shadow: inset 0 0  10px black;
    box-shadow: inset 0 0 10px black;
}

.fixTitle {
    color: white;
    padding-top: 2vh;
    font-family: "Gmhightop DEMO";
}

.buttons {
    padding-top: 15px;
    padding-bottom: 60px;
}

.fixPosition {
    margin-left: auto;
    margin-right: auto;
}

.resultHolder {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

h1 {
    color:white;
}

#player, #dealer {
    color:white;
}



#result {
    font-size: 1.5rem;
}

#content {
    margin-top: 2%;
}

.fixPadding {
    margin-left: 6px;
}

.cardEffect {
    margin-left: 5px;
    box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.259);
}