html, body {
 height: 100%;
 margin: 0px;
 padding: 0px;
 background-color: cornflowerblue;
 color: white;   
}

.textTitle {
    align-content: center;
    text-align: center;
    font-size: xx-large;
    
}

.leftContent {
    width: 75%;
    height: auto;
}

.name {
    font-size: 18px;
}

.description {
    font-size: 15px;
    color: #7d8285;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: white;
    transition: .5s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    max-height: auto;
    min-height: 50;
    background-color: #141414;
}

.cBlack {
    background-color: #1f1f1f;
    -webkit-box-shadow: 12px 4px 15px 5px rgba(0,0,0,0.38); 
    box-shadow: 12px 4px 15px 5px rgba(0,0,0,0.38);
    z-index: 100;
}

.footer .social {
    text-align: center;
    margin-top: 5px;
}

.footer .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer .social > a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.background {
    background-image: url("/assets/images/rightImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}