html,
body {
    margin: 0;
    height: 100%;
    background-color: lavender;
}

.resultsHolder {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.resultsList {
    -webkit-box-flex: 1;
    flex: auto;
    height: 300px;
    min-width: 100px;
}

.result {
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.imgFixed {
    display: block;
    width: 100%;
}