html,
body {
    margin: 0;
    height: 100%;
    background-color: lavender;
}

/* For reaserch propuses */
.colorTest {
    background-color: red;
}

.card {
    background-color: red;
    border-radius: 5px;
}

.card-body {
    text-align: center;
}

.myForm {
    top: 25px;
    height: 90px;
    text-align: center;
    font-size: 2rem;
    width: 333px;
    margin: auto;
    transition: 1s;
    background-color: lavender;
    border: none;
    border-bottom: 1px solid #ced4da;
}

.myForm:active {
    background-color: lavender;
    border: none;
}
input[type="textarea"]:focus {
    background-color: initial;
    outline: none !important;
}

.myForm:hover {
    width: 100%;
    background-color: initial;
    border: none;
    background-color: lavender;
    border-bottom: 1px solid #ced4da;
}
